@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
body{
  font: 600 1rem 'Montserrat', sans-serif;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
.chart {
    border: 3px solid rgb(0, 0, 0);
    margin: 50px;
    min-height: 50vh;
}


button {
  background: rgb(0, 0, 0);
  border: 0.125em solid rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  font: 600 1.5rem/1.25 'Montserrat', sans-serif;
  letter-spacing: 0.125em;
  padding: 12px 20px;
  margin: 2vh auto;
  text-transform: uppercase;
  max-width: 50vw;
  height: fit-content;
  
}

button:hover {
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.2);
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

input[type=text], input[type=password],input[type=number],input[type=date],input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form {
  border: 3px solid #f1f1f1;
  margin: 5vh auto;
  padding: 20px;
  max-width: 500px;
}

.side{
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10px;
}
@media only screen and (max-width: 600px) {
  .chart {
    border: 3px solid rgb(0, 0, 0);
    margin: 0;
    min-height: 50vh;
  }
}